@import "libs";
@import "vars";
@import "fonts";
@import "reset";
@import "flex";
body {
	font-size: 16px;
	min-width: 320px;
	line-height: 1.65;
	font-family: $default-font;
}

.container {
	width: 100%;
	max-width: $max-container-width;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

h2 {
	text-transform: uppercase;
}

.button {
	width: 140px;
	height: 40px;
	border: 1px solid #00e0d0;
	border-radius: 1px;
	font-family: 'Hammersmith One', sans-serif;
	text-transform: uppercase;
	background: none;
	color: #00e0d0;
	transition: all 0.5s;
	cursor: pointer;
}

.button-dark {
	@extend .button;
	&:hover {
		border: 1px solid #fff;
		background: #fff;
		color: #000;
	}
}

.button-light {
	@extend .button;
	&:hover {
		background: #00e0d0;
		color: #fff;
	}
}

section {
	padding-top: 70px;
	padding-bottom: 70px;
}

.title-text {
	text-align: center;
	font-family: 'Playfair Display', serif;
	h2 {
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 1.1px;
		text-transform: uppercase;
	}
	p {
		margin-top: 16px;
		margin-bottom: 18px;
		font-size: 14px;
		letter-spacing: 1.05px;
	}
}

.title-text-dark {
	h2 {
		color: #413d4b;
	}
	p {
		opacity: 0.75;
		color: #2f2d35;
	}
}

.title-text-light {
	h2,
	p {
		color: #fff;
	}
}

.title-decoration-light {
	width: 50px;
	border-top: 2px solid #413d4b;
	opacity: 0.3;
}

.header {
	background: url("../img/header-bg.png") no-repeat;
	background-size: cover;
	padding-bottom: 75px;
	.container {
		padding-top: 15px;
	}
	.nav-container {
		margin: 0;
	}
}

.header-menu {
	position: fixed;
	width: 100%;
	transition: all 0.4s ease;
	ul {
		li {
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
			a {
				font-family: 'Roboto', sans-serif;
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				color: #fff;
				transition: all 0.5s;
				&:hover {
					color: #00E0D0;
				}
			}
		}
	}
	.menu-icon {
		display: none;
		width: 32px;
		height: 32px;
	}
}

.custom-menu {
	position: fixed;
	width: 100%;
	background: #30235f;
	z-index: 100;
	.container {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.banner {
	max-width: 770px;
	margin-top: 230px;
	color: #fff;
	.banner-slider {
		h1 {
			font-family: 'Playfair Display', serif;
			font-weight: 900;
		}
		.title-decoration {
			width: 50px;
			margin-top: 20px;
			margin-bottom: 30px;
			border-top: 1px solid #00e0d0;
		}
		p {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
		}
		.slick-list {
			max-width: 100%;
			.slick-track {
				.slick-slide {
					display: flex;
					flex-direction: column;
					align-items: center;
					max-width: 100%;
					p {
						max-width: 100%;
					}
				}
			}
		}
		.button {
			margin-top: 50px;
			margin-bottom: 128px;
		}
		.my-dots {
			display: flex;
			justify-content: center;
			li {
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
			.dot {
				display: block;
				width: 10px;
				height: 10px;
				border: 1px solid #c2c2c2;
				border-radius: 50%;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					background: #00e0d0;
					border: none;
				}
				.string {
					position: absolute;
					left: -99999px;
					line-height: 0;
					opacity: 0;
				}
			}
			.slick-active .dot {
				background: #00e0d0;
				border: none;
			}
		}
	}
}

.s-about {
	padding: 0;
	color: #413d4b;
	.container {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	h2 {
		font-family: 'Playfair Display', serif;
		font-size: 22px;
	}
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
	}
	.button {
		margin-top: 15px;
	}
	.video-about-container {
		position: relative;
		.overlay {
			position: absolute;
			width: 100%;
			height: 99%;
			top: 0;
			left: 0;
			background: rgba(48, 36, 84, 0.7);
			z-index: 4;
			.btn-video {
				width: 100px;
				height: 100px;
				cursor: pointer;
			}
			h3 {
				margin-top: 34px;
				font-family: 'Roboto', sans-serif;
				font-size: 16px;
				font-weight: 900;
				text-transform: uppercase;
				color: #fff;
			}
		}
		.video-about {
			width: 100%;
		}
	}
}

.s-expertise {
	.title-decoration {
		width: 50px;
		border-top: 2px solid #c6c5c9;
	}
	.expertise-items {
		margin-top: 50px;
		.expertise-item {
			height: 260px;
			padding: 35px;
			border-right: 1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
			&:nth-child(3),
			&:nth-child(6) {
				border-right: 0;
			}
			&:nth-last-child(-n+3) {
				border-bottom: 0;
			}
			&-text {
				max-width: 100%;
				margin-top: auto;
				margin-top: 30px;
				text-align: center;
				font-family: 'Roboto', sans-serif;
				h2 {
					font-size: 14px;
					font-weight: 900;
					letter-spacing: 0.7px;
					text-transform: uppercase;
					color: #413d4b;
				}
				p {
					margin: 0;
					margin-top: 25px;
					font-size: 14px;
					font-weight: 300;
					letter-spacing: 0.7px;
					line-height: 22px;
					opacity: 0.75;
					color: #333333;
				}
			}
		}
	}
}

.s-team {
	background: url("../img/team-bg.jpg") no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	.title-decoration {
		width: 50px;
		border-top: 2px solid #655c81;
	}
	.employees-cards {
		margin-top: 25px;
		.employee-card {
			flex-basis: 220px;
			&:nth-child(1) {
				.employee-img {
					background-image: url("../img/employee1.jpg");
				}
			}
			&:nth-child(2) {
				.employee-img {
					background-image: url("../img/employee2.jpg");
				}
			}
			&:nth-child(3) {
				.employee-img {
					background-image: url("../img/employee3.jpg");
				}
			}
			&:nth-child(4) {
				.employee-img {
					background-image: url("../img/employee4.jpg");
				}
			}
			.employee-img {
				height: 230px;
				background-position: center;
				background-size: cover;
			}
			.employee-text {
				padding: 23px 10px 25px 10px;
				border: 1px solid #e1e1e1;
				border-top: 1px solid rgba(225, 225, 225, 0.5);
				text-transform: uppercase;
				color: #fff;
				z-index: 10;
				&-name {
					font-size: 14px;
					font-weight: 900;
					letter-spacing: 0.7px;
				}
				&-position {
					font-size: 13px;
					font-weight: 300;
					opacity: 0.7;
					color: #fafafa;
				}
			}
		}
	}
	.team-join {
		margin-top: 70px;
		font-weight: 300;
		letter-spacing: 0.7px;
		color: #f3f3f3;
	}
	button {
		margin-top: 25px;
	}
}

.s-our-works {
	color: #413d4b;
	font-family: 'Roboto', sans-serif;
	h2 {
		font-family: 'Playfair Display', serif;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 1.1px;
	}
	.projects-link {
		text-decoration: none;
		span {
			margin-right: 10px;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: 0.7px;
			cursor: pointer;
		}
		img {
			width: 8px;
			height: 13px;
			cursor: pointer;
		}
	}
	.works {
		margin-top: 72px;
		.work {
			img {
				display: flex;
				width: 100%;
			}
		}
	}
	button {
		margin-top: 70px;
	}
}

.s-reviews {
	background: url("../img/review-bg.jpg") no-repeat;
	background-size: cover;
	.reviews-quotes {
		width: 32px;
		height: 26px;
	}
	.sliders {
		margin-top: 30px;
		.slider-team-description-container {
			width: 60%;
		}
		.slider-team-img-container {
			width: 40%;
		}
		.slider-team-img-container,
		.slider-team-description-container {
			margin: 0 auto;
			&:last-child {
				margin-top: 10px;
			}
			.slider-team-img,
			.slider-team-description {
				position: relative;
				display: flex;
				flex-direction: row;
				.prev,
				.next {
					display: flex;
					align-items: center;
					position: relative;
					cursor: pointer;
				}
				.slick-list {
					max-width: 100%;
					.slick-track {
						display: flex;
						align-items: center;
						img {
							border-radius: 50%;
						}
						.slider-item {
							display: flex;
							align-items: center;
							justify-content: center;
							margin-left: 10px;
							margin-right: 10px;
							img {
								max-width: 45px;
								width: 50%;
								height: auto;
								opacity: 0.2;
							}
							.slider-text {
								max-width: 100%;
								text-align: center;
								color: #fff;
								margin-bottom: 45px;
								p {
									margin-top: 13px;
									font-family: 'Playfair Display', serif;
									font-size: 16px;
									line-height: 26px;
									letter-spacing: 0.4px;
									opacity: 0.85;
								}
								h3 {
									margin-top: 50px;
									font-family: 'Roboto', sans-serif;
									font-size: 14px;
									font-weight: 900;
									line-height: 22px;
									letter-spacing: 0.7px;
									text-transform: uppercase;
								}
								span {
									font-family: 'Roboto', sans-serif;
									font-size: 13px;
									font-weight: 300;
									line-height: 22px;
									text-transform: uppercase;
									opacity: 0.7;
								}
							}
						}
						.slick-center {
							img {
								max-width: 70px;
								width: 100%;
								height: auto;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

.s-contact {
	h3 {
		font-family: 'Playfair Display', serif;
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		color: #413d4b;
	}
	.contact-form {
		flex-basis: 460px;
	}
	.brands {
		flex-basis: 390px;
		&-images {
			margin-top: 47px;
			img {
				margin-bottom: 45px;
			}
		}
	}
	form {
		margin-top: 35px;
		input,
		textarea,
		button {
			margin-top: 22px;
		}
		input,
		input::placeholder,
		textarea::placeholder,
		textarea {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: 0.7px;
			color: #b3b2b7;
		}
		input {
			height: 45px;
			padding-left: 20px;
			padding-right: 20px;
			border: 1px solid #e6e6e6;
		}
		textarea {
			padding: 22px 20px;
			border: 1px solid #e6e6e6;
		}
	}
}

footer {
	padding-top: 70px;
	padding-bottom: 70px;
	background: url("../img/footer-bg.png") no-repeat;
	background-size: cover;
	color: #fff;
	.contacts,
	.socials {
		h3 {
			margin-top: 10px;
			font-family: 'Roboto', sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.75px;
			text-transform: uppercase;
			color: #ffffff;
		}
		span {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 300;
			line-height: 26px;
			letter-spacing: 0.35px;
		}
	}
	.about {
		flex-basis: 285px;
		p {
			margin-top: 20px;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 300;
			line-height: 26px;
			letter-spacing: 0.35px;
			color: #ffffff;
		}
	}
	.contacts {
		flex-basis: 275px;
		svg {
			margin-right: 15px;
		}
		.geo {
			margin-top: 40px;
		}
		.tel {
			margin-top: 27px;
		}
	}
	.socials {
		flex-basis: 320px;
		&-icons {
			margin-top: 27px;
			li {
				margin-right: 8px;
				a,
				svg {
					transition: all 0.5s;
				}
				a {
					width: 35px;
					height: 35px;
					border: 1px solid #ffffff;
					border-radius: 50%;
					&:hover {
						border: 1px solid #00E0D0;
						svg {
							fill: #00E0D0;
						}
					}
				}
			}
		}
		form {
			width: 100%;
			margin-top: 40px;
			input,
			input::placeholder {
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				font-weight: 300;
				line-height: 42px;
				letter-spacing: 0.7px;
				color: #ffffff;
			}
			input {
				width: 210px;
				height: 45px;
				margin-right: 10px;
				padding-left: 16px;
				padding-right: 16px;
				border: 1px solid #9e98b1;
				background: none;
				opacity: 0.75;
			}
			button {
				width: 70px;
				height: 45px;
				border: 1px solid #ffffff;
				background-color: #ffffff;
				opacity: 0.5;
				cursor: pointer;
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
	}
	.footer-bottom {
		margin-top: 70px;
		ul {
			li {
				margin-right: 32px;
				&:last-child {
					margin-right: 0;
				}
				a {
					text-transform: uppercase;
					text-decoration: none;
					transition: all 0.5s;
					&:hover {
						color: #00E0D0;
					}
				}
			}
		}
		.copyright {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.35px;
		}
	}
}

@import "media";
